<form class="login-container w-50 shadow-lg" [formGroup]="loginForm" (ngSubmit)="submit()">
  <h2 class="mb-4 text-center">{{ formType === formTypes.LOGIN ? 'Log In' : 'Sign Up'}}</h2>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="email">
    <div id="emailHelp" class="form-text">
      <small
        *ngIf="loginForm.controls.email.untouched">
        We'll never share your email with anyone else.
      </small>
      <div
        *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched"
        class="validation">
        <small *ngIf="loginForm.controls.email.hasError('required')"
        class="error">
          Email field cannot be empty
        </small>
        <small *ngIf="loginForm.controls.email.hasError('email')"
        class="error">
          Please, enter valid email address
        </small>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="password">
    <div
      *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched"
      class="validation">
      <small *ngIf="loginForm.controls.password.hasError('required')"
             class="error">
        Password field cannot be empty
      </small>
      <small *ngIf="loginForm.controls.password.hasError('minlength')"
             class="error">
        Password should contain at least 6 characters
      </small>
    </div>
  </div>
  <div class="mb-3">
    <a class="change-type" (click)="changeType()"
    >
      {{ formType === formTypes.LOGIN ? 'New user? Click to Sign Up' : 'Already have an account? Click to Log In'}}
    </a>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="loginForm.invalid">
    {{ formType === formTypes.LOGIN ? 'Log In' : 'Sign Up'}}
  </button>
</form>
